<div class="post-container flex">
    <div class="left">
        <a href="{% url 'account:user_profile' post.user.username %}">
            {% include "partials/profile_img.html" %}
        </a>
    </div>
    <div class="right">
        <div class="post-head flex">
            <div class="flex">
                <a class="user_profile" href="{% url 'account:user_profile' post.user.username %}">
                    <strong>{{ post.user.username }}</strong>
                </a>
                {% load custom_filters %}
                <p>{{ post.created_at|shortened_timesince }} ago</p>
            </div>
            {% include "partials/post_interactions.html" %} 
        </div>
        {% if post.title %}
        <h2 class="post-title">
            <a href="{% url 'posts:post_detail' post.id %}">{{ post.title }}</a>
        </h2>
        {% endif %}

        <div class="tags flex">
        {% for tag in post.tags.all %}
            <p><a class="tags-urls" href="{% url 'posts:category' tag.id %}">{{ tag.name }}</a>,</p>
        {% endfor %}
        </div>

        <div class="content">
            {% if truncate %}
                {{ post.content|truncatewords:40|safe }}
            {% else %}
                {{ post.content|safe }}
            {% endif %}
        </div>

        {% include "partials/media_post.html" %} 

        <div class="url-container">
            {% if post.url %}
            <a 
                class="post-url tags-urls"
                target="_blank" 
                href="{{ post.url }}">
                <i class="fa-solid fa-link"></i>{{ post.url }}
            </a>
            {% endif %}
        </div>
        {% include "partials/post_interactions2.html" with post_id=post.id %}
    </div>
</div>