<section class="post-results">
    <div class="container">
        <div class="top-flex">
            <div class="main-wrapper">
                <div class="left">
                    <a href="{% url 'account:user_profile' post.user.username %}">
                        {% include "partials/profile_img.html" %} 
                    </a>
                </div>
                <div class="right">
                    <div class="post-head flex">
                        <a class="user_profile" href="{% url 'account:user_profile' post.user.username %}">
                            <strong>{{ post.user.username }}</strong>
                        </a>
                        {% load custom_filters %}
                        <small>{{ post.created_at|shortened_timesince }} ago</small>
                    </div>
                    {% if post.title %}
                    <h2 class="post-title">
                        <a href="{% url 'posts:post_detail' post.id %}">{{ post.title }}</a>
                    </h2>
                    {% endif %}
                    <div class="tags flex">
                    {% for tag in post.tags.all %}
                        <p><a class="tags-urls" href="{% url 'posts:category' tag.id %}">{{ tag.name }}</a>, </p>
                    {% endfor %}
                    </div>
                    {% include "partials/post_interactions2.html" %}
                </div>
            </div>
            {% include "partials/media_post.html" %}
        </div>  
        <hr>
    </div>
</section>
