<div class="interaction flex">
    <form 
        method="POST" 
        action="{% url 'posts:toggle_save' 'post' post.id %}" 
        class="action-form save">
        {% csrf_token %}
        <button class="interaction-btn" type="submit">
            {% if post.id in interaction.posts.saved %}
            <i class="fa-solid fa-bookmark"></i>
            {% else %}
            <i class="fa-regular fa-bookmark"></i>
            {% endif %}
        </button>
    </form>

    <details name="reqs" class="flag">
        <summary>
            <i class="fa-regular fa-flag"></i>
        </summary>
        <form 
            method="POST" 
            action="{% url 'posts:flag' 'post' post.id %}" 
            class="action-form">
            {% csrf_token %}
            <label>
                <input type="radio" name="reason" value="spam"> Spam
            </label>
            <label>
                <input type="radio" name="reason" value="abuse"> Abuse
            </label>
            <label>
                <input type="radio" name="reason" value="harassment"> Harassment
            </label>
            <label>
                <input type="radio" name="reason" value="misinformation"> Misinformation
            </label>
            <label>
                <input type="radio" name="reason" value="other"> Other
            </label>
            <button class="blue-btn" type="submit">Flag</button>
        </form>
    </details>
    {% if post.user == request.user %}
    <div 
        id="delete-btn" 
        class="btn-yellow"
        data-post-id="{{ post.id }}"
        >
        Delete
    </div>

    <div class="popup-box" id="popup" data-post-id="{{ post.id }}">
		<div class="popup-content">
        {% include "posts/delete_post.html" with post_id=post.id %}
		</div>
	</div>
    {% endif %}
</div>