<section class="profile-overview">
    <div class="container">
        <div class="flex">
            <div class="left">
                <div class="profile-container">
                    {% include "acc_partials/profile_image.html" %}
                    <div>
                        <p>{{ user.username }}</p>
                        {% if user.profile.email %}
                            <p>{{ user.profile.email }}</p>
                        {% else %}
                        <p>
                            Add
                            <a href="{% url 'account:update_profile' %}">
                                Email
                            </a>
                        </p>
                        
                        {% endif %}

                        {% if user.profile.job_title %}
                            <p>{{ user.profile.job_title }}</p>
                        {% else %}
                        <p>
                            Add
                            <a href="{% url 'account:update_profile' %}">
                                Job Title
                            </a> 
                        </p>
                       
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="right">
                <a class="btn-yellow" href="{% url 'account:update_profile' %}"
                    >Update</a
                >
                <a class="btn-red" href="{% url 'account:logout' %}">Logout</a>
            </div>
        </div>

        <div class="profile-links">
            <a
                class="btn-transparent"
                href="{% url 'posts:all_posts' user.id %}">
				All posts
			</a>
            <a 
				class="btn-transparent" 
				href="{% url 'posts:saved_posts' %}">
				Saved Posts
			</a>
            <a 
				class="btn-transparent" 
				href="{% url 'posts:liked_posts' %}">
				Liked posts
			</a>
            <a 
				class="btn-transparent" 
				href="{% url 'posts:saved_comments' %}">
				Saved Comments
			</a>
            <a 
				class="btn-transparent" 
				href="{% url 'posts:liked_comments' %}">
				Liked Comments
			</a>
            <a 
                class="btn-transparent" 
                href="{% url 'account:change_pass' %}">
                Password
            </a>
        </div>
        <hr>
    </div>
</section>