{% extends 'base.html' %}
{% block 'title' %} Update Profile: {{request.user.username }} {% endblock %} 
{% block 'main' %} 
{% include "partials/flash_message.html" %} 
{% include "acc_partials/profile_overview.html"%}
<section class="update-profile">
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="media-input-container">
                <div class="wrapper">
                    <label class="media-label" for="id_profile_image">
                        <i class="fa-solid fa-cloud-arrow-up"></i> 
                        Drag and Drop or upload media
                    </label>
                    <div class="media-preview">
                    {% include "acc_partials/profile_image.html" %}
                    </div>
                    {{ profile_img.profile_image }}
                    <button type="button" id="clear-media" class="clear-media-btn">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </div>
            </div>
            <div class="update-inputs">
            {{ form }}
            </div>
            <div class="btn-container">
                <button class="blue-btn" type="submit">Update</button>
                <a class="cancel-btn" href="javascript:history.back()">Cancel</a>
            </div>
        </form>
    </div>
</section>
{% endblock %}