{% extends 'base.html' %}
{% block 'title' %}Category:{{ category }}{% endblock%}
{% block 'main' %}
{% include "partials/flash_message.html" %}
<section class="overview-posts">
    <div class="container">
        <h2>{{ category }} ({{ total_posts }})</h2>
        {% for post in posts %}
        <div class="posts">
            {% include "partials/post.html" %}
            <hr>
        </div>
        {% empty %}
        <p>No posts for this category</p>
        {% endfor %}
    </div>
</section>
{% endblock %}
