{% extends 'base.html' %} 
{% block 'title' %} Liked Comments {% endblock %} 
{% block 'main' %}
{% include "partials/flash_message.html" %}
{% include "acc_partials/profile_overview.html" %}
<section class="overview-posts">
    <div class="container">
        <h2>Liked Comments ({{ total_likes }})</h2>
        <form method="GET" action="{% url 'posts:liked_comments' %}">
            {% include "partials/sort.html" %}
        </form>
    </div>
</section>
{% for comment in comments %}
{% include "partials/comment_search.html" %}
{% endfor %}
{% include "partials/pagination.html" with posts=comments %}
{% endblock %}
