{% extends 'base.html' %} 
{% block 'title' %} Saved Posts {% endblock %} 
{% block 'main' %}
{% include "partials/flash_message.html" %}
{% include "acc_partials/profile_overview.html" %}
<section class="overview-posts">
    <div class="container">
        <h2>Saved Posts ({{ total_saved_posts }})</h2>
        <form method="GET" action="{% url 'posts:saved_posts' %}">
            {% include "partials/sort.html" %}
        </form>
    </div>
</section>
{% if posts %}
{% for post in posts %}
{% include "partials/post_search.html" %}
{% endfor %}
{% include "partials/pagination.html" %}
{% endif %}
{% endblock %}
